<header class="nav">
  <a class="logo" href="{{ '/' | relative_url }}">Rober Cerdán</a>

  <nav>
    <a href="{{ '/#about' | relative_url }}" data-es="Sobre mí" data-en="About">Sobre mí</a>
    <a href="{{ '/#lab' | relative_url }}" data-es="Lab" data-en="Lab">Lab</a>
    <a href="{{ '/#product' | relative_url }}" data-es="Método" data-en="Method">Método</a>
    <a href="{{ '/#ideas' | relative_url }}" data-es="Puente Azul" data-en="Puente Azul">Puente Azul</a>
    <a href="{{ '/#contact' | relative_url }}" data-es="Contacto" data-en="Contact">Contacto</a>
  </nav>

  <button id="language-toggle" class="language-toggle" type="button">EN</button>
</header>
