<header class="nav">
  <a class="logo" href="{{ '/' | relative_url }}">Rober Cerdán</a>

  <nav>
    <a href="{{ '/#current-work' | relative_url }}" data-es="Trabajo actual" data-en="Current Work">Trabajo actual</a>
    <a href="{{ '/#lab' | relative_url }}" data-es="Lab" data-en="Lab">Lab</a>
    <a href="{{ '/#product' | relative_url }}" data-es="Producto" data-en="Product">Producto</a>
    <a href="{{ '/#ideas' | relative_url }}" data-es="Ideas" data-en="Ideas">Ideas</a>
    <a href="{{ '/#contact' | relative_url }}" data-es="Contacto" data-en="Contact">Contacto</a>
  </nav>

  <button id="language-toggle" class="language-toggle" type="button">EN</button>
</header>
